/* -----------------
google-font
----------------- */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&family=Poppins:wght@500;700&display=swap');

/* ------------
common-style
--------------- */
body{
    max-width: 992px;
    margin:auto;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
}

/* <!------------------------
HEADER-PART-BIG-BACKGROUND
--------------------------> */
.big-background{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    
}
.background-text-h1{ 
    font-size:70px;
    font-weight:700;
    margin-left: 50px;
    margin-right:20px ;
    margin-bottom: 2px;
    margin-top: 20px;
    padding-top: 45px;
    line-height:60px ;
}
.background-text-p{
   font-size:10px;
   font-weight:400;
   margin:20px 20px 4px 50px ;
   padding: 4px 70px 0px 0px;

}
.background-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 120px;
    height: 30px;
    margin: 10px 5px 20px 50px ;
    padding: 1px 20px 0px 10px;
    background-color: #5dbea3;
    color: white;
    border: none;
    border: 5px;
}
.background-button:hover{
    background-color: #55c2da;
}
.big-background-images{
    transition:  width 1s, height 1s, transform 1s ;
}
.big-background-images:hover{
 
    transform: rotate(720deg);
}

.big-background-images img{
     width: 124%;
     margin-top: -2px;
     margin-bottom:-5px;

}

/* <!----------------------------
HEADER-PART-BIG-BACKGROUND-END
-----------------------------------> */


/* <!----------------------------
MAIN-BLOG-GRID-PART-STYLE-START 
-------------------------------> */
main{
    display: grid;
    grid-template-columns: 315px auto;
    justify-items: center;
    margin-top: 130px;
}
/* ----------------
ASIDE-PART
---------------- */
.section-main-blog-button-part{
    background-color: black;
    color: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
.all-button{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;  
    margin-top:30px;
} 
.button-main-two{
     width: 200px;
     height: 50px;
     border: none; 
     border-radius: 15px;
}
.button-main-two:hover{
    background-color: #55c2da;
}
.button-main-two-color{
    width: 200px;
    height: 50px; 
    border: none;
    background-color: #5dbea3;
    color: white;
    border-radius: 15px;
}
.button-main-two-color:hover{
    background-color: #55c2da;
}
/* ----------------
transfer-PART
---------------- */
.section-transfer-grid-part{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}
.transfer-part{
  margin-bottom: 25px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.transfer-images img{
    width: 100%;
}
.transfer-p-tag{
    font-size: 16px;
    font-weight: 600;
    color: #161616;
    margin-top: 1px;
}
.transfer-button:hover{
    background-color: #55c2da;   
}

/* ---------icon--------- */

.transfer-icon-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:-18px;
    font-size: 14px;
}
.fa-clock a{
    margin-left: 8px;
    font-size: 10px;
}
.fa-comment-dots a{
    margin-left: 8px;
    font-size: 10px;
}
.media-quary{
    visibility: hidden;
}
 /*-------------------------------
MAIN-BLOG-GRID-PART-STYLE-START-END 
------------------------------------ */   


/*--------------------------
FOOTER-PART-START
---------------------------- */
footer{
    background-color: black;
    color: white;


}
.footer-sectoin{
    text-align: center;
    margin-top: 70px;
    margin-bottom:70px;
    padding-top: 30px;
    padding-bottom: 90px;   
}
/* ------FOOTER-TEXT-HR-------- */
.footer-h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.footer-hr{
    border: 1px solid #DD0000;
    margin-left:10% ;
    margin-right:10% ;
}
/* ------------FOOTER-A-ICON------ */
.footer-a{
    font-size: 15px;
    line-height: 41px;
    margin-top: 12px;
    margin-bottom: 10px;
    padding-right: 18px;
    color: #B9B9B9;
}
.footer-social{
    color: #B9B9B9;
    padding-right: 18px;
}
/* ------------------------------
MEDIA-QUARRY-PART
------------------------------- */
            
          /* medium-device */
  @media screen and (max-width:576px) { 
    .big-background{
        grid-template-columns: 1fr;
        margin-bottom:-104px;
    }
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-top: 130px;
    }
    .section-transfer-grid-part{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      
      }
      .section-main-blog-button-part{
        background-color: white;
       width: 477px;
       height:145px ;
       border-radius: 10px;   
    }
    .all-button{
        display:flex;
        flex-direction:row-reverse;
        align-items: center;  
    }
    .footer-sectoin{
        display: grid;
        grid-template-rows: repeat(4, 185px);
    }
    .footer-social{
        color: #B9B9B9;
        padding-right: 18px;
        padding-top:20px ;
        padding-bottom:20px ;
        line-height: 68px;
    }
    .media-quary{
        visibility: visible;
        text-align: center;
    }
   .media-quary-button{
      background-color: #5dbea3;
      color: white;
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 10px;
    }
    

}
/* -----------------------end-------------------------------------- */
